include dvha_app.py
recursive-include dvha/*.py
include CHANGELOG.md
include README.rst
include LICENSE.txt
include dvha/resources/LICENSE.txt
include dvha/resources/logo.png
include dvha/resources/icons/*
include dvha/resources/TG263_Nomenclature_Worksheet_20170815.csv
include dvha/db/*.sql