dicompyler-core>=0.5.4
wxPython>=4.0.4,<4.1.0
pypubsub
numpy
scipy
pydicom>=1.4.0
bokeh>=1.2.0,<2.0.0
psycopg2-binary
shapely[vectorized]
python-dateutil
statsmodels >= 0.8.0
scikit-learn>=0.21.0
regressors
rapidfuzz
selenium
pandas <= 0.25.3
scikit-image
